.header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
}

.header-section img {
    width: 2rem;
    cursor: pointer;
    filter: invert(1);
}

.header-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

