<section>
<div class="header-section">
    <img src="./icons/arrow-left.svg" alt="arrow-left" (click)="goBack()">
    <h2>Post</h2>
</div>
    <div *ngIf="firstLoad">
    <app-feed-item-loader></app-feed-item-loader>
</div>
<div *ngIf="!firstLoad && post">
    <app-feed-item 
        [userAvatar]="post.user.avatar" 
        [username]="post.user.username"
        [content]="post.content" 
        [date]="post.created_at" 
        [likes]="post.likes_count" 
        [comments]="post.comments_count"
        [tags]="post.tags" 
        [postId]="post.id" 
        [userHasReacted]="post.user_has_reacted" 
        [userReactionType]="post.user_reaction_type"
    ></app-feed-item>
    
    <app-sharebox [isAComment]="true" [postId]="post.id"></app-sharebox>
</div>

<h3>Comentarios</h3>

<div *ngIf="comments">
    <app-comment 
        *ngFor="let comment of comments" 
        [comment]="comment.content" 
        [createdAt]="comment.created_at" 
        [username]="comment.user.username" 
        [avatar]="comment.user.avatar" 
        [commentId]="comment.id"
    ></app-comment>
</div>

</section>