<ng-container *ngIf="firstLoad; else content">
    <app-feed-item-loader></app-feed-item-loader>
    <app-feed-item-loader></app-feed-item-loader>
    <app-feed-item-loader></app-feed-item-loader>
</ng-container>

<ng-template #content>
<div class="reactions-container">
    <ng-container *ngIf="posts.length > 0; else noReactions">
        <app-feed-item *ngFor="let post of posts" [userAvatar]="post.user?.avatar || 'default.jpg'"
            [username]="post.user?.username || ''" [content]="post.content" [date]="post.created_at"
            [likes]="post.likes_count || 0" [comments]="post.comments_count || 0"
            [tags]="post.tags || []" [reactions]="post.reaction_type" [postId]="post.id"></app-feed-item>

        <div *ngIf="firstLoad" class="loading">
            <p>Cargando más publicaciones con reacciones...</p>
        </div>
        <div *ngIf="nextPageUrl" class="load-more">
            <button (click)="loadMore()">Cargar más</button>
        </div>
    </ng-container>

    <ng-template #noReactions>
        <div class="no-reactions">
            <p>No se encontraron publicaciones con reacciones.</p>
        </div>
    </ng-template>
</div>