article {
    cursor: pointer;
    padding: 10px;
    padding-left: 12px;
    transition: background-color 0.2s;
    margin: 12px 0;
    position: relative;
}

article::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 2px;
    background-color: var(--color-tertiary);
}

article:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.topic {
    font-weight: bold;
    margin: 0;
}

.post-number {
    font-size: 0.8rem;
    color: #666;
    margin: 0;
}