<div class="box">
    <ul class="list-unstyled components">
            <img src="h.png" alt="logo" class="logo" (click)="navigateTo('home')">
        <li [ngClass]="{ 'active': isActive('home') }" (click)="navigateTo('home')">
            <img class="icons" src="icons/home.svg" alt="svg">
            <span>Inicio</span>
        </li>
        <li [ngClass]="{ 'active': isActive('houses') }" (click)="navigateTo('houses')">
            <img class="icons" src="icons/compass.svg" alt="svg">
            <span>Explorar</span>
        </li>
        <li [ngClass]="{ 'active': isActive('products') || isActive('product') }" (click)="navigateTo('products')">
            <img class="icons" src="icons/bell.svg" alt="svg">
            <span>Notificaciones</span>
        </li>
        <li [ngClass]="{ 'active': isActive('profile') }" (click)="navigateTo('profile')">
            <img class="icons" src="icons/user.svg" alt="svg">
            <span>Perfil</span>
        </li>
        <li [ngClass]="{ 'active': isActive('recipe') }" (click)="navigateTo('recipe')">
            <img class="icons" src="icons/settings.svg" alt="svg">
            <span>Configuración</span>
        </li>
    </ul>
</div>
