article {
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.2s;
    gap: 12px;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-primary, #e7e9ea);
    flex: 1;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bio {
    font-size: 13px;
    color: var(--text-secondary, #bfc2c5);
}

:host:not(:last-child) article {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

button {
    background-color: var(#fff);
    color: var(--color-primary, black);
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: auto;
    transition: opacity 0.2s;
}

@media (max-width: 1024px) {
    article {
        padding: 10px 12px;
    }

    img {
        width: 40px;
        height: 40px;
    }

    p {
        font-size: 14px;
    }
}