.notifications-container {
    padding: 30px 0px;
    background-color: var(--bg-color);
    border-radius: 10px;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mark-all-btn {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
}

.notification-list {
    list-style: none;
    padding: 0;
}

.notification-list li {
    margin: 0;
    padding: 0;
    border: none;
}

.loading,
.no-notifications {
    text-align: center;
    padding: 20px;
    color: var(--text-muted);
}