        <div class="skeleton-loader">
    <div class="skeleton-avatar"></div>
    <div class="skeleton-content">
        <div class="skeleton-line name"></div>
        <div class="skeleton-line username"></div>
        <div class="skeleton-line bio"></div>
        
        <div class="skeleton-stats">
            <div class="skeleton-stat">
                <div class="skeleton-line short"></div>
                <div class="skeleton-line very-short"></div>
            </div>
            <div class="skeleton-stat">
                <div class="skeleton-line short"></div>
                <div class="skeleton-line very-short"></div>
            </div>
            <div class="skeleton-stat">
                <div class="skeleton-line short"></div>
                <div class="skeleton-line very-short"></div>
            </div>
        </div>
        
    </div>
</div>