:root {
    --color-primary: #020617;
    --color-secondary: #0f172a;
    --color-tertiary: #853bed;
    --color-quaternary: #f9f9f9;
    --color-quinary: #0f0b2c;
    --color-senary: #157b5f;
    --color-septenary: #c63b3e;
    --color-octonary: #141334;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-quaternary);
}