<section>
    <img [src]="'/avatars/' + avatar + '.jpg'" alt="avatar">
    <div class="content">
        <div #postDiv class="editable-input" contenteditable="true" [attr.placeholder]="textDefault"
            (input)="onInput($event)" (keydown)="handleKeydown($event)">
        </div>

        <div class="buttons">
            <button class="btn-highlight" (click)="toggleHighlight()" title="Destacar palabra">
                <b>B</b>
            </button>
            <button (click)="prepareAndPost()">Publicar</button>
        </div>
    </div>
</section>