<div class="posts-container">
  <ng-container *ngIf="firstLoad; else content">
    <app-feed-item-loader></app-feed-item-loader>
    <app-feed-item-loader></app-feed-item-loader>
    <app-feed-item-loader></app-feed-item-loader>
  </ng-container>

  <ng-template #content>
    <ng-container *ngIf="posts.length > 0; else noPosts">
      <div *ngFor="let comment of posts" class="comment-container">
                <div class="parent-post" *ngIf="comment.parent">

          <app-feed-item
            [userAvatar]="comment.parent.user?.avatar || 'default'"
            [username]="comment.parent.user?.username || ''"
            [content]="comment.parent.content"
            [date]="comment.parent.created_at"
            [likes]="comment.parent.likes_count || 0"
            [comments]="comment.parent.comments_count || 0"
            [tags]="comment.parent.tags || []"
            [postId]="comment.parent.id"
            [userHasReacted]="comment.parent.user_has_reacted"
            [userReactionType]="comment.parent.user_reaction_type">
          </app-feed-item>
        </div>
                  <div class="parent-post-header">
            <span>Respondiendo a {{comment.parent.user?.username}}:</span>
          </div>
          <div class="post">
                    <app-feed-item class="s"
          [userAvatar]="comment.user?.avatar || 'default'"
          [username]="comment.user?.username || ''"
          [content]="comment.content"
          [date]="comment.created_at"
          [likes]="comment.likes_count || 0"
          [comments]="comment.comments_count || 0"
          [tags]="comment.tags || []"
          [postId]="comment.id"
          [userHasReacted]="comment.user_has_reacted"
          [userReactionType]="comment.user_reaction_type">
        </app-feed-item>
          </div>
        

      </div>
    </ng-container>
  </ng-template>
  
  <ng-template #noPosts>
    <div class="no-posts">
      <p>No hay publicaciones para mostrar</p>
    </div>
  </ng-template>
</div>
